<h2>Cluster Details <span style="font-size:0.7em">(node id: {{ node_id }})</span></h2>

{% include 'histogram.html' %}

<!-- Projection Statistics -->
{% if projection_stats %}

<hr><br/>

<h3>Projection Statistics</h3>

<table>
    <tr><th>Lens</th><th style="width:50px;"> <small>Mean</small></th>
    <th style="width:50px;"><small>Max</small></th>
    <th style="width:50px;"><small>Min</small></th></tr>

    {% for projection in projection_stats %}

        <tr><td>{{ projection['name'] }} </td>
        <td><small>{{ projection['mean'] }}</small></td>
        <td><small> {{ projection['max'] }}</small></td>
        <td><small>{{ projection['min'] }}</small></td></tr>

    {% endfor %}

</table>

{% endif %}


<!-- Cluster Statistics -->
{% if cluster_stats %}
    <hr><br/>

    <!-- <h3>Cluster Statistics</h3> -->

    {% if cluster_stats['above']|length > 0 %}
        <h3>Above Average</h3>
        
        <table><tr><th>Feature</th>
        <th style="width:50px;"><small>Mean</small></th>
        <th style="width:50px;"><small>STD</small></th></tr>

        {% for stat in cluster_stats['above'] %}
            <tr><td>{{ stat['feature'] }}</td><td><small> {{ stat['mean'] }}</small></td>
            <td class="std"><small>{{ stat['std'] }}x</small></td></tr>
        {% endfor %}

        </table>
    {% endif %}

    {% if cluster_stats['below']|length > 0 %}
        <h3>Below Average</h3>
        <table><tr><th>Feature</th>
        <th style="width:50px;"><small>Mean</small></th>
        <th style="width:50px;"><small>STD</small></th></tr>

        {% for stat in cluster_stats['below'] %}
            <tr><td>{{ stat['feature'] }}</td><td><small>{{ stat['mean'] }}</small></td>
            <td class="std"><small>{{ stat['std'] }}x</small></td></tr>
        {% endfor %}

        </table>
    {% endif %}


    <h3>Size</h3>
        <p>{{ cluster_stats['size'] }}</p>


{% endif %}


<!-- Membership information -->



<hr> <br/>

<h3>Members</h3>
{% for tooltip in custom_tooltips %}
{{ tooltip }}
{% endfor %}


<br><br>
<hr><br>
