<!-- Help pane.
    TODO: Add more information here.  -->

<ul>
<li>Click on a node to lock focus on that node. The node with the current focus will pulse. Click off of a node to release the lock.</li>
<li>Dragging a node will fix its position on the screen. Double-click a fixed-position node to unfreeze it.</li>
</ul>

<table>
    <tr>
        <th>Key</th>
        <th><small>Action</small></th>
    </tr>

    <tr>
        <td>s</td>
        <td><small>Nodes glow :D</small></td>
    </tr>

    <tr>
        <td>c</td>
        <td><small>remove glow</small></td>
    </tr>

    <tr>
        <td>p</td>
        <td><small>Print mode - white backgrounds</small></td>
    </tr>

    <tr>
        <td>d</td>
        <td><small>Display mode - black backgrounds</small></td>
    </tr>

    <tr>
        <td>z</td>
        <td><small>Turn off gravity</small></td>
    </tr>

    <tr>
        <td>m</td>
        <td><small>Spacious layout</small></td>
    </tr>

    <tr>
        <td>e</td>
        <td><small>Tight layout</small></td>
    </tr>

    <tr>
        <td>f</td>
        <td><small>Freeze layout</small></td>
    </tr>

    <tr>
        <td>x</td>
        <td><small>Unfreeze all nodes</small></td>
    </tr>

</table>

<div class="control-wrapper">
  <div class="control-row">
    <button class='btn' type="button" id="download-config" name="download-config">Save config</button>
  </div>

  <div class="control-row">
    <label for="config-file-loader">Load config file</label>
    <input type="file" id="config-file-loader" name="config-file-loader" accept="application/json">
    <button class='btn' id='load-config' disabled>Load</button>
  </div>
</div>
