<h2>Mapper Summary</h2>

<hr><br>

{% if mapper_summary.custom_meta %}
    {% for k, v in mapper_summary.custom_meta.items() %}
        <h3>{{ k }} </h3> <p> {{ v }}</p>
    {% endfor %}
{% endif %}

<h3>Nodes</h3><p> {{ mapper_summary.n_nodes }} </p>

<h3>Edges</h3><p> {{ mapper_summary.n_edges }} </p>

<h3>Total Samples</h3><p> {{ mapper_summary.n_total }}</p>

<h3>Unique Samples</h3><p> {{ mapper_summary.n_unique }}</p>

{% if color_function_names|length > 1 %}
  <h3>Color functions</h3><p>
    {{ color_function_names|join(', ')}}
  </p>
{% else %}
  <h3>Color function</h3><p>
    {{ color_function_names[0] }}
  </p>
{% endif %}

<!-- histogram -->
<hr><br/>

<h3>{{ dist_label }} Distribution</h3>

<div class="histogram"></div>

<br><br>
<!-- /histogram -->

<hr><br>
