
<div id="toolbar" class='wrap'>
    <div id="tooltip_control" class="tool_item">
        <h3>
        <a href="#"><small id="tooltip_tag">[+]</small></a>
        Cluster Details
        </h3>
    </div>

    <div id="meta_control" class="tool_item">
        <h3>
        <a href="#"><small id="meta_tag">[+]</small></a>
        Mapper Summary
        </h3>
    </div>

    <div id="help_control" class="tool_item">
        <h3>
        <a href="#"><small id="helptip_tag">[+]</small></a>
        Help
        </h3>
    </div>

    {% if mapper_summary.color_function_name|length > 1 %}
    <div id="color_function_control" class="tool_item">
      <h3>Color Function
        <select class="btn" id='select-color-function' name="color_function">
        {% for _color_function_name in mapper_summary.color_function_name %}
          <option value="{{ loop.index0 }}">{{_color_function_name}}</option>
        {% endfor %}
        </select>
      </h3>
    </div>
    {% endif %}

    {% if mapper_summary.node_color_function|length > 1 %}
    <div id="node_color_function_control" class="tool_item">
      <h3>Node Color Function
        <select class="btn" id='select-node-color-function' name="node_color_function">
        {% for _node_color_function_name in mapper_summary.node_color_function %}
          <option value="{{ loop.index0 }}">{{_node_color_function_name}}</option>
        {% endfor %}
        </select>
      </h3>
    </div>
    {% endif %}

    {% if include_searchbar %}
    <div id='searchbar' class='tool_item'>
      <form>
        <input type='search'>
        <button class='btn' type='submit'>Search</button>
        <div class="inline-block">
          <div class="inline-block">
            <input type="radio" name="search_mode" id='search-mode-and'   value="and" checked><label for="search-mode-and">AND</label>
          </div>
          <div class="inline-block">
            <input type="radio" name="search_mode" id='search-mode-or'    value="or" ><label for="search-mode-or">OR</label>
          </div>
          <div class="inline-block">
            <input type="radio" name="search_mode" id='search-mode-exact' value="exact"><label for="search-mode-exact">Exact</label>
          </div>
        </div>
      </form>
    </div>
    {% endif %}

    {% if include_min_intersection_selector %}
    <div id='min_intersction_selector' class="tool_item">
      <form>
        <h3>Min Intersection Selector
        <input type="number" min="1" value="{{ mapper_summary.custom_meta.nerve_min_intersection }}">
        <button class='btn' type='submit'>Update</button>
        </h3>
      </form>
    </div>
    {% endif %}

</div>
