.sphx-glr-thumbcontainer {
  min-height: 320px !important;
  margin: 20px !important;
}
.sphx-glr-thumbcontainer .figure {
  width: 320px !important;
}
.sphx-glr-thumbcontainer img {
  max-height: 250px !important;
  width: 250px !important;
  max-width: 320px;
}
.sphx-glr-thumbcontainer a.internal {
  padding: 220px 10px 0 !important;
}
.sphx-glr-thumbnails {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
