.logo { 
    width:100%; 
}

img {
    max-width: 100%
}

p.caption {
    font-size: 1.2rem;
    margin-bottom: 0.1em;
    color: #000000;
}

.current.reference.internal {
    font-weight: bold;
}

#headermeta {
    float:right;
}